sudo: required
services:
    - docker

before_install:
    - docker build -t ravibatakurki/react-app -f ./client/Dockerfile.dev ./client

script:
    - docker run ravibatakurki/react-app npm test -- --coverage

after_success:
    - docker build -t ravibatakurki/multicontainer-client ./client
    - docker build -t ravibatakurki/multicontainer-nginx ./nginx
    - docker build -t ravibatakurki/multicontainer-server ./server
    - docker build -t ravibatakurki/multicontainer-worker ./worker
    
    # Login to Docker
    - echo "$DOCKER_PWD" | docker login -u "$DOCKER_ID" --password-stdin

    # Push images into Docker Hub
    - docker push ravibatakurki/multicontainer-client
    - docker push ravibatakurki/multicontainer-nginx
    - docker push ravibatakurki/multicontainer-server
    - docker push ravibatakurki/multicontainer-worker